::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #161616;
}
::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #616161;
}

a {
  cursor: pointer;
  color: #a0a0a0;
}
a:hover {
  color: #7e0a0a;
  text-decoration: none;
}
a img {
  transform: scale(1);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
a img:hover {
  transform: scale(1.05);
  border-radius: 8px;
}
code {
  font-size: 0.75rem;
}

.compact-table th {
  font-weight: 600 !important;
  padding-top: 12px !important;
  padding-bottom: 2px !important;
  padding-left: 12px !important;
  padding-right: 0 !important;
  background-color: #181818;
}
.compact-table td {
  padding-top: 4px !important;
  padding-bottom: 2px !important;
  padding-left: 16;
  padding-right: 0;
}

.container-border {
  border: solid 1px #272727;
  border-radius: 4px;
  margin-left: -9px;
  margin-right: -9px;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
  background-color: #181818;
  padding: 16px;
  border-radius: 4px;
  min-width: 600px;
  min-height: 300px;
  width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
}
.modal-container-datagrid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
  background-color: #181818;
  padding: 16px;
  border-radius: 4px;
  min-width: 600px;
  min-height: 300px;
  max-height: 80vh;
  width: 80vw;
  height: 80vw;
}


.MuiBox-root {
  max-width: 100%;
}
.MuiDrawer-paper {
  background-color: #181818 !important;
  box-shadow: 2px 2px rgb(0 0 0 / 10%) !important;
}
.MuiButton-root {
  width: 100%;
  max-width: 100%;
  top: 2px;
}
